{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- $taxonomies := .Data.Plural -}}
<div class="container pt-5" id="list-page">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <div class="row">

        <!-- <div class="col-lg-4 col-md-6 my-3"> -->
            <!-- <div class="card-columns"> -->
                {{- if eq $taxonomies "categories" -}}
                    {{ range .Site.Taxonomies.categories.ByCount }}
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card-columns">
                            <div class="card h-100 mb-4">
                                <div class="card-body bg-transparent p-4 shadow-sm">
                                    <h3 class="text-center pb-2" >
                                        <a href="{{ "/categories/" | relURL }}{{ .Name | urlize }}" class="primary-font card-title">
                                            <h5 class="card-title bg-transparent">{{ .Name }}</h5>
                                        </a>
                                    </h3>
                                    {{ range .Pages }}
                                        <a href="{{ .Permalink }}" class="card-text secondary-font">
                                            <h6 style="color: var(--text-secondary-color) !important;">{{ .Title }}</h6>
                                        </a>
                                    {{- end -}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{- else if eq $taxonomies "tags" -}}
                    {{ range .Site.Taxonomies.tags.ByCount }}
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card-columns">
                            <div class="card h-100 mb-4">
                                <div class="card-body bg-transparent p-4 shadow-sm">
                                    <h3 class="text-center pb-2" >
                                        <a href="{{ "/tags/" | relURL }}{{ .Name | urlize }}" class="primary-font card-title">
                                            <h5 class="card-title bg-transparent">{{ .Name }}</h5>
                                        </a>
                                    </h3>
                                    {{ range .Pages }}
                                        <a href="{{ .Permalink }}" class="card-text secondary-font">
                                            <h6 style="color: var(--text-secondary-color) !important;">{{ .Title }}</h6>
                                        </a>
                                    {{- end -}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{- end -}}

                
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>
{{ end }}